.page {
  display: flex;
  flex-direction: column;
}

.overlay {
  width: 100%;
  min-width: 1440px;
  height: 217px;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.namebar {
  display: flex;
  align-content: space-between;
  position: absolute;
  align-items: center;
  top: 62px;
  left: 91px;
  width: 617px;
  height: 40px;
  color: var(--jet);
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}

.title {
  color: var(--jet);
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  border-width: 0 0 1px;
  border-color: var(--jet);
  resize: none;
}

.changebar {
  position: absolute;
  display: flex;
  right: 100px;
  top: 62px;
  width: 632px;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  color: var(--prussian-blue);
}

#case-type {
  width: 257px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid var(--jet);
  background: transparent;
}

.button:hover {
  filter: brightness(75%);
}

.add-button {
  background-color: transparent;
  border: none;
  align-self: center;
}

.spacer {
  width: 100%;
  height: 217px;
  background-color: blue;
}

.questions {
  align-self: center;
}
