.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 65px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #000000;
  border-top: 0px;
  font-weight: normal;
  font-size: 16px;
  min-width: 6506.63px;
}

/*name*/
.name-head{
  min-width: 209px;
  align-items: flex-start;
}

/*legal disc*/
.legal-head{
  margin-right: 19px;
  align-items: center;
  justify-content: center;
}

.checkbox{
  min-width: 90px;
  margin-right: 58px;
}


/*email*/
.email-head{
  margin-right: 137px;
}

.email{
  min-width: 185px;
}

/*phone*/
.phone-head{
  margin-right: 46px;
}

.phone{
  min-width: 167px;
}

/*address*/
.address-head{
  margin-right: 220px;
}

.address{
  min-width: 292px;
}

/*dob + age*/
.date-head{
  margin-right: 10%;
}

.dob{
  min-width: 110px;
}

.age-head{
  margin-right: 25px;
}

.age{
  min-width: 72px;
}

/*intake qs*/
.question-head{
  max-width: 308px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 50px;
}

.response{
  min-width: 280px;
  margin-left: 10px;
  overflow-wrap: break-word;
}
