.list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #000000;
  border-top: 0px;
  font-weight: normal;
  font-size: 16px;
  max-width: 1298px;
}

.unique-id{
  width: 5%;
  min-width: 69px;
  margin-right: 4%;
}

.name{
  width: 13%;
  min-width: 172px;
}

.a-num{
  min-width: 88px;
  width: 6.8%;
  margin-right: 5.5%;
}

.case-type{
  width: 8%;
  min-width: 111px;
  margin-right: 3.2%;
}

.status{
  width: 4%;
  min-width: 67px;
  margin-right: 5%;
}

.phone{
  width: 9%;
  min-width: 112px;
  margin-right: 3.7%;
}

.email{
  width: 14%;
  min-width: 181px;
  margin-right: 48px;
}

.county{
  width: 4%;
  min-width: 60px;
  margin-right: 6.8%;
}

