.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 65px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #000000;
  border-top: 0px;
  font-weight: normal;
  font-size: 16px;
  margin-right: 2%;
}

.date {
  width: 8%;
  min-width: 90px;
}

.username {
  width: 14%;
  min-width: 90px;
}

.fid {
  width: 6%;
  min-width: 60px;
}

.admin {
  width: 14%;
  min-width: 80px;
}

.action {
  width: 12%;
  min-width: 110px;
}

.message {
  width: 36%;
  flex-wrap: wrap;
  word-wrap: break-word;
}