.link-form {
  display: flex;
  position: absolute;
  width: 324px;
  height: 37px;
  top: 126px;
  left: 115px;
  align-items: center;
  justify-content: space-between;
}

.link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

#case-type {
  width: 257px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid var(--jet);
  background: transparent;
}
