.welcome {
  width: 33%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  padding-bottom: 10%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.register {
  width: 100px;
  height: 40px;
}

.login {
  width: 100px;
  height: 40px;
}

.p {
  color: var(--cultured);
}
